.searchbar_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchbar_container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: black;
  color: white;
}

.searchbar_container > button {
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: white;
  cursor: pointer;
}