.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container h3 {
  margin-bottom: 10px;
}

.recommend_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.all_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}